#algunos-nuestros-temas {
  .category {
    text-align: center;
    img {
      width: 104px;
      height: 104px;
    }

    h2 {
      font-family: IBMPlexSans-SemiBold;
      font-size: 24px;
      color: #060a24;
      letter-spacing: 0;
      text-align: center;
    }
  }
}
