#episodios {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 125px;
  
  .tittle {
    padding-left: 16px;
    padding-right: 16px;

    margin-bottom: 10px;
  }

  .images-content {
    padding: 11px;
  }
}
