#invitados-estelares {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 18px;

  .tittle {
    padding-left: 16px;
    padding-right: 16px;

    margin-bottom: 14px;
  }

  .images-content {
    display: flex;
    flex-direction: column;
  }
}
