
/*=============================================
=                    Generals                 =
=============================================*/

$blue-200: #00f0b8;
$blue-300: #00f3bb;
$blue-500: #0000a3;
$blue-550: #0000ec;
$blue-600: #0000fe;
$blue-700: #0000ff;
$blue-800: #060A24;

$white: white;



/*=============================================
=                    Paleta                   =
=============================================*/

$color-primary: $blue-700;
$color-secundary: $blue-300;
$color-third: $white;
$color-quarter: $blue-800;


/*=============================================
=                   Extends                   =
=============================================*/

/*=============================================
=                   Links                     =
=============================================*/

$link-active-menu-movil: rgba( $blue-800, 0.56);

/*=============================================
=                   Nav bar                     =
=============================================*/

$navbar-bg-movil: $blue-550;
$navbar-bg: $white;


/*=============================================
=                 Buttons                     =
=============================================*/

$button-bg-over: linear-gradient(225deg, $blue-600 0%, $blue-200 100%);

/*=============================================
=                    Grid                     =
=============================================*/

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$paddin-section-sm: 50px;
$paddin-section-md: 60px;
$paddin-section-lg: 100px;
$paddin-section-xl: 200px;