/*!
 * IBM Plex™ is an international typeface family designed by Mike Abbink, IBM BX&D, in collaboration with Bold Monday, an independent Dutch type foundry - https://fonts.google.com/specimen/IBM+Plex+Sans?preview.text=&preview.text_type=custom&selection.family=IBM+Plex+Sans#standard-styles
 * License - https://fonts.google.com/specimen/IBM+Plex+Mono?selection.family=IBM+Plex+Mono:wght@400;500|IBM+Plex+Sans:wght@400;600&query=IBM+Plex+mono&sidebar.open#license (Fonts: SIL Open Font License (OFL), Code: MIT License)
 */
 // IBM Plex Mono
@font-face {
  font-family: 'IBMPlexMono';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../assets/fonts/IBM-plex-mono/IBMPlexMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'IBMPlexMono-Medium';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url("../assets/fonts/IBM-plex-mono/IBMPlexMono-Medium.ttf") format("truetype");
}

/*!
 * IBM Plex™ is an international typeface family designed by Mike Abbink, IBM BX&D, in collaboration with Bold Monday, an independent Dutch type foundry - https://fonts.google.com/specimen/IBM+Plex+Sans?preview.text=&preview.text_type=custom&selection.family=IBM+Plex+Sans#standard-styles
 * License - https://fonts.google.com/specimen/IBM+Plex+Sans?preview.text=&preview.text_type=custom&selection.family=IBM+Plex+Sans#license (Fonts: SIL Open Font License (OFL), Code: MIT License)
 */
 // IBM Plex Sans
@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../assets/fonts/IBM-plex-sans/IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'IBMPlexSans-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url("../assets/fonts/IBM-plex-sans/IBMPlexSans-SemiBold.ttf") format("truetype");
}
